<h2>New Observation</h2>

<%= form_for @observation do |f| %>

<%= f.label  "Name:" %>
<%= f.text_field :name %><br><br>

<%= f.label "Date:" %>
<%= f.date_field :date %><br><br>

<%= f.label "Notes:" %>
<%= f.text_area :note %><br><br>

<%= f.submit "Record Observation" %>

<% end %>