<h1><%= @cryptid.name %></h1>
<p><b>Location:</b> <%= @cryptid.location %></p>
<p><b>Size:</b> <%= @cryptid.size %></p>
<p><b>Classification:</b> <%= @cryptid.classification %></p>

<% @cryptid.observations.each do |observation| %>
<li><%= link_to observation.name, observation %></li>
<% end %>

<h2>Record New Observation:</h2>
<%= form_for @cryptid.observations.build, as => :observation, url => cryptid_observations_path(@cryptid) do |f| %>
<%= f.hidden_field :cryptid_id %>

<%= f.label  "Title:" %>
<%= f.text_field :name %><br><br>

<%= f.label "Date:" %>
<%= f.date_field :date %><br><br>

<%= f.label "Notes:" %>
<%= f.text_area :note %><br><br>

<%= f.submit "Submit" %>

<% end %>

<br>
<%= link_to "Go Back", user_path(current_user) %>