<h2>Welcome, <%= @user.username %></h2>
<h3>Your Discoveries:</h3>
<% @user.cryptids.each do |cryptid| %>
<p><%= link_to cryptid.name, cryptid_path(cryptid) %></p>
<% end %>

<hr>

<br>
<%= link_to "All Cryptids", cryptids_path %><br>
<br>
<%= link_to "View All Observations", observations_path %><br>
<br>
<%= link_to "New Cryptid Discovery", new_cryptid_path %><br>

<br>
<%= link_to "See who currently has the most observations!", mostobs_path %><br>

<br>
<%= link_to "Log Out", logout_path, method: :delete %>